* {
    margin: 0;
    padding: 0;
}

#content {
    width: 500px;
    background-color: blanchedalmond;
}

#sub-nav {
    background-color: beige;
    text-align: center;
    font-size: 0;
}

#sub-nav>li {
    font-size: 24px;
    display: inline-block;
    width: 100px;
    height: 40px;
    line-height: 40px;
}

#sub-nav>li:hover {
    background-color: aqua;
}