* {
    margin: 0;
}

.text-center {
    text-align: center;
}

.circle {
    border-radius: 50%;
}

a {
    display: inline-block;
    height: 24px;
    padding: 12px;
    margin: 4px;
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
}

#nav {
    position: fixed;
    top: 0;
    left: 0;
}

#main a {
    width: 50px;
    height: 50px;
    padding: 8px;
}

ul {
    padding: 0;
    list-style-type: none;
}

.profile {
    background-image: linear-gradient(to right, rgb(208, 0, 255) , rgb(0, 229, 255));
    margin: 8px 0px;
    padding: 16px;
    border-radius: 8px;
}

body {
    background: linear-gradient(135deg, rgb(3, 255, 129) , rgb(168, 5, 244));
}

#feedback {
    background-color: rgb(200, 200, 200);
    width: 99%;
}