* {
    margin: 0;
}

.text-center {
    text-align: center;
}

.circle {
    border-radius: 50%;
}

ul {
    padding: 0;
    list-style-type: none;
}

.profile {
    background-image: linear-gradient(to right, rgb(208, 0, 255) , rgb(0, 229, 255));
    margin: 8px 0px;
    padding: 16px;
    border-radius: 8px;
}

body {
    background: linear-gradient(135deg, rgb(3, 255, 129) , rgb(168, 5, 244));
}

body *{
    background: none;
}

#feedback {
    background-color: rgb(200, 200, 200);
    width: 99%;
}